<html lang="en-us">
  <head>
    <title>Legal Bill Review</title>
  </head>
  <body>
    <div id="wrapper">
      <h1>Legal Bill Review</h1>
      <form id="userinput">
          <input type="text" id="rate" placeholder="Rate"/>
        <br />
          <input type="text" id="date" placeholder="Date"/>
        <br />
        <button type="submit" id="addbill">Submit</button>
      </form>
      <div id="results">
        <table id="bills">
              <tr><th>Rate</th><th>Date</th></tr>
        </table>
      </div>
    </div>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/app.js"></script> 
  </body>
</html>